flask
flask-cors
flask-babel
flask-session
flask-swagger
flasgger
flask-login
flask-wtf
flask-migrate
flask-sqlalchemy
flask-swagger-ui
requests
tqdm
numpy
fasttext
gunicorn
python-dotenv
git+https://github.com/argosopentech/argos-translate.git
