flask
flask-cors
flask-babel
flask-session
flask-login
flask-wtf
flask-migrate
flask-swagger
flask-swagger-ui
flasgger
requests
tqdm
numpy
fasttext
gunicorn
python-dotenv
redis
langdetect

# LibreTranslate dependencies
libretranslate==1.4.0
APScheduler==3.9.1
argostranslate==1.9.1
