flask
flask-cors
flask-babel
flask-session
flask-login
flask-wtf
flask-migrate
flask-swagger
flask-swagger-ui
flasgger
requests
tqdm
numpy
fasttext
gunicorn
python-dotenv
redis
libretranslate
apscheduler>=3.10.0,<4
git+https://github.com/argosopentech/argos-translate.git
